{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ profile[0].username }}</h1>
    <h2>{{ profile[0].firstname }}</h2>
    <h2>{{ profile[0].lastname }}</h2>
    <h2>{{ profile[0].bio }}</h2>
{% endblock %}
